body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.country{
  text-align: center;
    background-color: rgb(147, 147, 147);
      display: inline-block;
      margin: 20px;
      width: auto;
      padding: 20px;
      border-radius: 10px;
}
.img{
  border: 1px solid #ddd; 

    border-radius: 4px;
    width: 250px;

    height: 150px;
}